<% if (cookware.length > 0) { %>
<ul>
  <% cookware.forEach((c) => {%>
  <li>
    <a href="<%= c.url %>"><%= c.title %></a> <%= (c.description) ? `-
    ${c.description}` : '' %>
  </li>
  <% }) %>
</ul>

<% } else { %>
<p>None Defined</p>
<% } %>
