<% if (perishables.length) { %>
<ul>
  <% perishables.forEach((p) => {%>
  <li>
    <a href="<%= p.url %>"><%- p.title %></a> <%- (p.description) ? `-
    ${p.description}` : '' %>
  </li>
  <% }) %>
</ul>

<% } else { %>
<p>None Defined</p>
<% } %>
