<% if (perishables.length > 0) { %>
<ul>
  <% perishables.forEach((p) => { %>
  <li>
    <a href="<%= p.url %>"><%- p.perishable.title %></a> - <%- date_string %>:
    <%= p.ddmmyy_dateLastUse %> <% if (locals.showSafeToUse) {%> - <% if
    (p.past_date) { %> <span class="not-usable">Requires Disposal!</span> <% }
    else { %> <span class="usable">Safe to Use</span> <% } %> <% } %>
  </li>
  <% }) %>
</ul>

<% } else { %>
<p>None In Stock</p>
<% } %>
