<form method="POST">
  <div class="form-group">
    <%- include('components/form-group-input', {forName: 'title', label:
    'Title', placeholder: 'Fruits, Dairy, Meat, etc', value:
    locals.category?.title}) %>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<% if (locals.errors) { %>
<div class="form-errors">
  <ul>
    <% errors.forEach(err => { %>
    <li><%= err.msg %></li>
    <% }) %>
  </ul>
</div>
<% } %>
