<form method="POST">
  <div class="form-group">
    <label for="title">Title:</label>
    <input
      type="text"
      id="title"
      name="title"
      class="form-control"
      placeholder="Fruits, Dairy, Meat..."
      value="<%= locals.category ? locals.category.title : '' %>"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<% if (locals.errors) { %>
<div class="form-errors">
  <ul>
    <% errors.forEach(err => { %>
    <li><%= err.msg %></li>
    <% }) %>
  </ul>
</div>
<% } %>
