<form method="POST">
  <div class="form-group">
    <%- include('components/form-group-input', {forName: 'title', label:
    'Title', placeholder: 'Saucepan, Chef Knife, etc', value:
    locals.cookware?.title}) %>
  </div>
  <div class="form-group">
    <%- include('components/form-group-input', {forName: 'description', label:
    'Description', placeholder: 'Description', value:
    locals.cookware?.description}) %>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<% if (locals.errors) { %>
<div class="form-errors">
  <ul>
    <% errors.forEach(err => { %>
    <li><%= err.msg %></li>
    <% }) %>
  </ul>
</div>
<% } %>
