<h3>
  Do you really want to delete perishable <%= perishableinstance._id %> of type
  '<%- perishableinstance.perishable.title %>'?
</h3>
<form method="POST">
  <input
    type="hidden"
    id="perishableinstanceid"
    name="perishableinstanceid"
    value="<%= perishableinstance._id %>"
  />
  <button type="submit" class="btn btn-primary">Delete</button>
</form>
