:root {
  font: 18px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

a:hover {
  color: #0080b2;
  text-decoration: underline;
}

h1,
h2 {
  margin-bottom: 1rem;
}

h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

textarea {
  font: 18px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.full-width {
  width: 100%;
}

.fifth-width-container {
  width: 20%;
}

.list-style-none {
  list-style: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.left-sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container {
  display: flex;
  padding: 3rem;
  gap: 4rem;
}

.seperator {
  height: 2px;
  width: 100%;
  max-width: 80px;
  border-radius: 20px;
  margin: 1rem 0;
  background: #7c7c7c7c;
}

.content-header {
  display: flex;
  gap: 8rem;
  align-items: center;
}

.list-block ul {
  list-style-position: inside;
}

.to-full-list-link {
  margin-top: 0.5rem;
}

.usable {
  color: #4ad12f;
}

.maintenance {
  color: #efbd32;
}

.not-usable {
  color: #c03232;
}

.links {
  margin-top: 2rem;
}

.links p {
  margin-top: 0.5rem;
}

.content-main li {
  margin-bottom: 0.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 0.8rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
  margin-top: 0.4rem;
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-limited {
  max-width: 200px;
}

.form-errors {
  color: #c03232;
  margin-top: 1rem;
}

fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
}

.cookware-row {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cookware-row label {
  width: 100%;
}

.ingredient-row {
  display: flex;
  margin-top: 1rem;
  width: 100%;
  gap: 2rem;
}

.ingredient-row > .row-element:first-child {
  width: 100%;
}

.row-element {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.row-element label {
  font-size: 0.8rem;
}

.remove-cookware-btn,
.remove-ingredient-btn {
  font-size: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.remove-cookware-btn:hover,
.remove-ingredient-btn:hover {
  color: #9f9f9f;
}

.remove-ingredient-btn {
  display: flex;
  align-items: self-end;
  padding-bottom: 0.5rem;
  height: 100%;
}

.image-container {
  display: flex;
  max-height: 300px;
}

.image-container img {
  object-fit: contain;
}
